.navbar-toggler:not(.collapsed){
  background-color: rgb(200, 200, 255);
}
.navbar-toggler{
  transition: 0.5s !important;
}
.navbar-toggler:focus{
  box-shadow: none !important;
}
.dropdown-toggle::after {
  display: none !important;
}
#searchIcon{
  transition: 0.3s;
}
#searchIcon:hover{
  background: rgb(200, 200, 200);
}
.list-group-item{
  transition: 0.2s;
}
.list-group-item:hover{
  background: rgb(240, 240, 240);
}
.inset-shadow{
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
.search-collapsed{
  max-height: 0px;
  border: none;
  background: transparent;
}
.search-expanded{
  max-height: 50px;
  margin: 10px 0px;
}
.chat-container{
  justify-content: flex-start;
}
.msg{
  width: fit-content;
  max-width: 80%;
  display: flex;
}
.msg.from-me{
  align-self: flex-end;
}
.msg-time{
  font-size: 0.65rem;
  align-self: flex-end;
}
.msg-tick{
  align-self: flex-end;
  margin-left: 5px;
}
.emoji{
  transition: 0.3s;
}
.emoji:hover{
  background-color: rgba(0, 0, 0, 0.1);
}